<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>3.2 - Condicionales: v-else - v-else-if</title>
</head>
<body>
  <div id="app">
    <label for="edad">Edad</label>
    <input name="edad" type="number" v-model="edad">
    <h1 v-if="!edad">Rellena el campo de edad, por favor</h1>
    <h1 v-else-if="edad < 18">Acceso denegado, eres menor de edad</h1>
    <h1 v-else-if="edad > 150">Acceso más que permitido, eres inmortal</h1>
    <h1 v-else>Acceso permitido, eres mayor de edad</h1>
    <pre> {{ $data }} </pre>
  </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript" src="main.js"></script>
</html>
